/*estilos generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sree Krushnadevaraya', serif;
}

body{
    background-image: url(../assets/images/fondoamor.jpg);
    /*background-image: url(../assets/images/fondoblue.jpg);
    background-image: url(../assets/images/fondocat.jpg);
    background-image: url(../assets/images/fondoglobos.jpg);
    background-image: url(../assets/images/fondokiu.gif);
    background-image: url(../assets/images/fondopig.jpg);
    background-image: url(../assets/images/fondoretro.jpg);*/
    background-size: 100%;
}

h1 {
    text-align: center;
    color:#fff;
    background: #1da1f2;
    font-size:54px;
}
.textbox-one{
    background: #fff;
    display: inline-block;
    margin: 10px 10px 0 120px;
    width: 540px;
    padding-bottom: 10px;
    border-radius: 3px;
}
.textbox-one h2{
    font-size: 35px;
    color :#4d4d4d;
    padding-left: 30px;
}

.textbox-one p {
    padding-left: 30px;
    line-height: 30px;
    font-size: 25px;
    color :#4d4d4d;
}

.textbox-one h4 {
    border-top: 2px solid #f2f2f2;
    font-size: 28px;
    margin-top: 25px;
    color: #325d81;
    padding-left: 30px;
}
.news {
    display: inline-block;
    background: #fff;
    padding: 20px;
    text-align: left;
    border-radius: 3px;
    position: absolute;
    top: 125px;
}
button {
    display:inline-block;
    background:#1da1f2;
    color:#fff;
    border: none;
    padding: 5px 10px;
    font-weight:700;
    font-size: 20px;
    margin: 5px;
    border-radius: 5px;
    width: 110px;
    text-align: center;
}
button:hover {
    background-color:#006dbf;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
